.upload-cls {
    /* width: 50%; */
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 14px;
    background: #cccccc5c;
    padding: 5px 6px;
    margin-bottom: 10px;
}

.upload-cls p {
    margin: 0px;
}
h3.count {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
}

h3.count span {
    background: #dbfff2;
    color: #025BD4;
    font-size: 18px;
    margin-left: 20px;
}

i.fa.fa-file {
    color: #f6442d;
    padding-right: 6px;
}
i.fa.fa-file.blue {
    color: blue;
}